@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

body {
  color: #000;
  background: #fff;
  overflow-x: hidden;
}

.post:hover {
  background-color: rgb(247, 245, 245);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #603cc9;
  border-radius: 30px;
}

main {
  margin-left: 5rem;
  height: 100vh;
}

.next {
  margin-top: 5em;
  padding: 1em;
}

.navigation {
  position: fixed;
  background-color: #fff;
  transition: width 200ms ease;
  z-index: 100;
}

.navigation .navi-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navigation .navi-nav .navi-item {
  width: 100%;
}

.navigation .navi-nav .navi-item:last-child {
  margin-top: auto;
}

.navigation .navi-nav .navi-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #333;
  text-decoration: none;
  transition: 600ms;
}

.link-text {
  display: none;
  margin-left: 1rem;
  color: #000;
}

.fas {
  min-width: 2rem;
  margin: 0 1.5rem;
  font-size: 25px;
}

.navi-item button {
  background-color: #8c52ff;
  margin-left: 0.7rem;
  outline: none;
}

.fas {
  color: #929292;
}

.fas2 {
  color: #fff;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo-img-main {
  width: 100%;
}

.logo-img {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 1;
  margin: 1em 0 0 2em;
  display: none;
}

@media (max-width: 600px) {
  .navigation {
    bottom: 0;
    width: 100%;
    height: 5rem;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);
  }
  .navigation .navi-nav {
    flex-direction: row;
  }
  .navigation .navi-link {
    justify-content: center;
  }
  .navigation .navi-link:hover {
    background: #fff;
  }
  .navigation .navi-link:hover .fas {
    color: #603cc9;
  }
  .logo {
    display: none;
  }
  main {
    margin: 0;
    margin-bottom: 5rem;
  }

  .landing {
    margin-bottom: 5rem;
  }

  .next {
    margin-bottom: 5rem;
  }
  .logo-img {
    display: block;
  }
}

@media (min-width: 600px) {
  .navigation {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    width: 5rem;
    height: 100%;
    top: 0;
  }
  .navigation .navi-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #603cc9;
  }
  .navigation .navi-link:hover .link-text {
    color: #fff;
  }
  .navigation .navi-link:hover .fas {
    color: #fff;
  }
  .navigation:hover {
    width: 16rem;
  }
  .navigation:hover .logo-img-main {
    width: 32%;
  }
  .navigation:hover .link-text {
    display: inline;
    transition: opacity 600ms;
  }
}

/* register page style */

.register-body {
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: 100%;
}

.register-box {
  border-radius: 30px;
  width: 80%;
  height: 80%;
  background-color: #fff;
  box-shadow: 5px 5px 15px 5px #603cc9;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
}

.register-box .auth-form {
  padding: 1em 1em 1em 4em;
}

.register-box .auth-form img {
  width: 80px;
}

.register-box .auth-form .p1 {
  margin-top: 1em;
  font-size: 1.25rem;
  font-weight: 800;
}

.register-box .auth-form .p2 {
  font-size: 0.7rem;
  color: #777;
  font-weight: 600;
}

.register-box .auth-form form {
  margin-top: 2%;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr;
}

.register-box .auth-form form input {
  outline: none;
  margin: 1em;
  padding: 0;
}

.register-box .auth-img {
  background-image: url(./img/register.png);
  height: 100%;
  background-size: cover;
  border-radius: 0 30px 30px 0;
}

@media (max-width: 1330px) {
  .register-box {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .register-box .p2 {
    margin-top: 3%;
  }
  .register-box .auth-form {
    padding: 1em;
    text-align: center;
  }
  .register-box .auth-form form {
    margin-top: 3%;
  }
  .register-box .auth-form input {
    margin: 1em auto;
    font-size: 1.25rem;
  }
  .register-box .auth-img {
    display: none;
  }
}

.auth-form button {
  background-color: #8c52ff;
  margin-top: 2em;
  color: #fff;
  font-weight: 600;
  padding: 8px 30px;
  letter-spacing: 2px;
  width: 30%;
  outline: none;
}

.auth-form button:hover {
  background-color: #603cc9;
  color: #fff;
  transition: 600ms;
}

@media (max-width: 600px) {
  .register-box {
    border-radius: 0;
    width: 100vw;
    margin: 0 auto 4em auto;
  }
}

.navigation2 {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 5;
  height: 5em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.navigation2 .navi2 {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 5em;
}

.navigation2 .navi2 li {
  padding: 0 40px;
}

.navigation2 .navi2 li .status {
  color: green;
}

.navigation2 .navi2 li .profile-pic {
  font-weight: 600;
  margin-right: 1em;
}

.profile-links {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.profile-links li {
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  .navigation2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .navi2 .optional {
    display: none;
  }

  .navigation2 .navi2 {
    margin-left: 0em;
    height: 5rem;
    align-items: center;
  }

  .navigation2 .navi2 li {
    padding: 0 0px;
    margin: 1em;
    text-align: center;
  }

  .profile-links {
    margin: 0;
  }

  .profile-links li {
    margin: 0;
    padding: 0 10px;
  }
}

@media (min-width: 600px) {
  .navigation2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .profile-links {
    margin-right: 2em;
  }

  .profile-links li {
    padding: 0 10px;
  }
}

.developers .find-user {
  text-align: center;
  margin: 2em auto;
  width: 70%;
}

.developers .find-user button {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
}

.card {
  text-align: center;
  border-radius: 10px;
  z-index: 0;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); */
}

.card:hover {
  transform: scale(1.05);
  background-color: #8c52ff;
  color: #fff;
  transition: 600ms;
}

.card:hover button {
  background-color: #fff;
}

.card:hover button a {
  color: #603cc9;
}

.card img {
  width: 40%;
  height: 40%;
  margin: 1em auto;
}

.card .card-title {
  margin-bottom: 2em;
}

.card .card-body {
  margin-bottom: 2em;
}

/* .card .btndev {
  padding: 20px 50px;
  background-color: #603cc9;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  margin-bottom: 2em;
} */

.card button {
  background-color: #603cc9;
  padding: 8px 30px;
}

.card button a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.devs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1156px) {
  .devs {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 887px) {
  .devs {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 539px) {
  .developers .find-user {
    width: 100%;
  }
  .devs {
    grid-template-columns: 1fr;
  }
}

.greeting h2 {
  font-weight: 800;
  color: #8d8d8d;
  opacity: 0.5;
}

.greeting h3 {
  margin-top: 1em;
}

.dashboard .trigger-actions {
  margin-top: 4em;
}

.dashboard .trigger-actions ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.dashboard .trigger-actions ul li:first-child {
  padding: 0 15px 0 0;
}

.dashboard .trigger-actions ul li {
  padding: 0 15px;
}

.dashboard .trigger-actions ul li a {
  text-decoration: none;
}

.dashboard .trigger-actions ul li a:hover {
  color: #fff;
  background-color: #8c52ff;
  transform: scale(1.1);
  transition: 600ms;
}

.btn-link {
  border: none;
  border-radius: 30px;
  background-color: #603cc9;
  color: #fff;
  padding: 12px 25px;
}

.experience-credentials {
  margin: 4em auto;
}

.experience-credentials table {
  margin-top: 1em;
}

@media (max-width: 600px) {
  .hide-sm {
    display: none;
  }
  .five {
    margin-bottom: 5em;
  }
}

@media (max-width: 767px) {
  .dashboard .trigger-actions ul {
    display: block;
  }
  .dashboard .trigger-actions ul li {
    padding: 0;
    margin-bottom: 2em;
  }
}

@media (max-width: 800px) {
  .hide-md {
    display: block;
  }
}

.profile {
  height: 100%;
}

.profile-top {
  background-color: #8c52ff;
  border-radius: 30px;
  height: 300px;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 2em;
}

.profile-top .profile-image {
  display: flex;
  align-items: center;
}

.profile-top .profile-image img {
  width: 200px;
}

.profile-top .profile-image .links {
  display: flex;
  align-items: center;
  list-style: none;
}

.profile-top .profile-image .links li:first-child {
  padding: 0 20px 0 0;
}

.profile-top .profile-image .links li {
  padding: 0 20px;
}

.profile-top .profile-image .links li a {
  color: #fff;
}

.profile-top .profile-image .links li a .fab {
  font-size: 20px;
}

.profile-top .profile-image .links li a:hover {
  color: #e6e6e6;
  transition: 600ms;
}

.profile-top .profile-image .links li a:hover .fab {
  font-size: 25px;
  transition: 600ms;
}

.img-words {
  padding-left: 2em;
}

.img-words h1 {
  font-weight: 600;
}

.img-words button {
  border: none;
  border-radius: 30px;
  color: #603cc9;
  background-color: #fff;
  padding: 12px 40px;
  font-weight: 600;
}

.img-words button:hover {
  background-color: #e6e6e6;
  transition: 600ms;
}

.profile-bio .main-profile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-bio .main-profile ul li {
  margin: 0;
  padding: 0;
}

.profile-bio .main-profile ul li p {
  font-size: 1rem;
}

.profile-bio .main-profile ul li .fas {
  color: #8c52ff;
  font-size: 0.8rem;
}

.skills-section {
  margin-top: 3em;
}

.skills-section ul {
  display: flex;
  margin: 1em auto;
  padding: 0;
  list-style: none;
  align-items: center;
}

.skills-section ul li {
  background-color: #ddd;
  border-radius: 30px;
  margin-right: 1em;
  padding: 8px 20px;
  font-weight: 600;
}

@media (max-width: 630px) {
  .profile-top {
    border-radius: 30px;
    height: 500px;
    width: 100%;
    padding-left: 0;
  }
  .profile-top .profile-image {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .img-words {
    padding: 0;
    margin-top: 1em;
  }
  .skills-section ul {
    display: block;
    text-align: center;
  }
  .skills-section ul li {
    padding: 8px 10px;
    margin-bottom: 1em;
    margin-right: 0;
  }
}

.exp-edu {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  grid-auto-rows: 100px, auto;
}

.exp-edu .education {
  border-radius: 30px;
  padding: 2em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.exp-edu .education h3 {
  color: #603cc9;
  margin-bottom: 1em;
}

.exp-edu .education .edu-sec h4 {
  font-weight: 600;
}

.exp-edu .experience {
  border-radius: 30px;
  padding: 2em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.exp-edu .experience h3 {
  color: #603cc9;
  margin-bottom: 1em;
}

.exp-edu .experience .exp-sec h4 {
  font-weight: 600;
}

@media (max-width: 800px) {
  .exp-edu {
    grid-template-columns: 1fr;
  }
}

.github-repos {
  margin-top: 3em;
  background-color: #ddd;
  border-radius: 30px;
  padding: 2em;
}

.github-repos h3 {
  margin-bottom: 1em;
}

.github-repos .repo {
  padding: 2em;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.github-repos .repo h5 {
  font-weight: 600;
}

.github-repos .repo .activity ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.github-repos .repo .activity ul li:first-child {
  background-color: #603cc9;
  color: #fff;
  padding: 8px 15px;
  border-radius: 30px;
  margin: 0;
}

.github-repos .repo .activity ul li {
  background-color: #000;
  color: #fff;
  padding: 8px 15px;
  border-radius: 30px;
  margin: 1em auto;
}

.github-repos .repo .activity ul li:last-child {
  background-color: #3880ff;
  color: #fff;
  padding: 8px 15px;
  border-radius: 30px;
  margin: 0;
}

@media (max-width: 800px) {
  .github-repos .repo {
    margin-left: 1em;
  }
}

@media (max-width: 600px) {
  .github-repos {
    padding: 1em;
  }

  .github-repos .repo {
    margin-left: 0;
  }

  .github-repos .repo {
    display: block;
  }
  .github-repos .repo h4 {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

.posts-area {
  margin: 2em auto;
}

.posts-area .post-form {
  display: flex;
  width: 100%;
}

.posts-area .post-form .post-body {
  width: 100%;
  margin-left: 1em;
  border-radius: 30px;
  background-color: #ddd;
  padding: 1em;
}

.posts-area .post-form .post-body form {
  margin: 0 auto;
  width: 100%;
}

.posts-area .post-form .post-body textarea {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 30px;
}

.posts-area .post-form .post-body .post-button {
  display: flex;
  justify-content: flex-end;
}

.posts-area .post-form .post-body button {
  margin-top: 1em;
  padding: 8px 40px;
  border: none;
  background-color: #603cc9;
  color: #fff;
  border-radius: 30px;
  font-weight: 600;
  outline: none;
}

.post-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.post-btn p {
  margin-right: 1em;
  margin-top: 2em;
  font-weight: 600;
}

.posts-area .post-form .post-body button:hover {
  background-color: #8164d4;
}

.posts-area .posts-section {
  margin-top: 3em;
}

.posts-area .post:first-child {
  border-top: 0px;
}

.posts-area .post {
  margin: 0 auto;
  display: flex;
  border: 1.5px solid #ddd;
  padding: 2em;
  border-bottom: 0px;
}

.posts-area .post .post-content {
  margin-left: 1em;
}

.posts-area .post .post-content .top-info {
  display: flex;
  align-items: center;
  list-style: none;
}

.posts-area .post .post-content .top-info li {
  padding: 0 10px;
}

.posts-area .post .post-content .top-info li:first-child {
  padding-left: 0;
  font-weight: 800;
}

.posts-area .post .post-content .trigger-bottom {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 1em;
}

.posts-area .post .post-content .trigger-bottom li {
  padding: 0 10px;
  text-align: center;
}

.posts-area .post .post-content .trigger-bottom li .fas {
  color: #7e7e7e;
  font-size: 20px;
}

.posts-area .post .post-content .trigger-bottom li .fas:hover {
  color: #603cc9;
  transition: 600ms;
}

.posts-area .post .post-content .trigger-bottom li .fas span {
  color: #000;
}

.posts-area .post .post-content .trigger-bottom li:first-child {
  padding-left: 0;
}

.posts-area .post .post-content .trigger-bottom li:last-child {
  background: initial;
}

.comments {
  color: #603cc9;
  border: none;
  background: none;
}

.comments:hover {
  color: #8c52ff;
}

.post-profile {
  width: 100px;
  height: 100px;
}

@media (max-width: 600px) {
  .post-form a img {
    display: none;
  }

  .post-form .profile-post-link {
    display: none;
  }

  .posts-area .post-form {
    display: block;
  }
  .posts-area .post-form img {
    display: none;
  }
  .posts-area .post-form .post-body {
    margin: 0;
  }
  .posts-area .post {
    display: block;
    padding: 1em;
    text-align: center;
  }
  .posts-area .post .post-content {
    margin-left: 0;
  }

  .posts-area .posts-section .post .feed-avatar {
    margin: 0 auto;
  }
  .posts-area .post .trigger-bottom {
    justify-content: space-evenly;
  }
  .posts-area .post .trigger-bottom li {
    padding: 0;
  }
  .posts-area .post .top-info {
    justify-content: center;
    margin-top: 1em;
  }
}

@media (max-width: 498px) {
  .posts-area .post .trigger-bottom {
    justify-content: center;
  }
  .last-btn {
    margin: 1.5em auto;
  }
}

.lock {
  font-size: 100rem;
}

.alert {
  position: absolute;
  top: 0;
  z-index: 30;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.edit-form {
  width: 100%;
}

.image img {
  width: 100%;
}

.edit-form input {
  width: 80vw;
}

small {
  display: block;
}

.btn-toggle {
  display: flex;
  align-items: center;
  list-style: none;
}
.btn-toggle li {
  padding-right: 1em;
}

.btn-toggle button {
  outline: none;
}

.checkbox {
  display: flex;
  align-items: center;
  list-style: none;
}

.checbox li {
  padding: 0 10px;
}

.div-bottom button {
  color: #fff;
}

.cardList {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-top: -2em;
}

.cardList li {
  padding: 0 15px;
}

.card-title {
  font-weight: 600;
}

.main-profile table td {
  padding: 1em 15px;
}

.chevron {
  margin-right: auto;
  cursor: pointer;
}

.post-text {
  text-decoration: none;
  color: #000;
}

.post-text:hover {
  text-decoration: none;
  color: #000;
}

.post-text-area:hover {
  background-color: rgb(247, 247, 247);
}

/* single post styling */

.post-word {
  margin-top: 3em;
  border: 1.5px solid #ddd;
  border-bottom: 0;
  border-top: 0;
  padding: 1em;
}

.word {
  margin-top: 0.6em;
}

.post-word-top {
  display: flex;
  align-items: center;
}

.post-word-top p {
  font-weight: 800;
  margin-left: 1em;
}

.bottom-info ul {
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}

.bottom-info ul li {
  padding: 0 5px;
}

@media (max-width: 600px) {
  .post-word .word {
    font-size: 1.3rem;
  }
}

@media (min-width: 600px) {
  .post-word .word {
    font-size: 2rem;
    font-weight: lighter;
  }
}

.bottom-trigger {
  width: 100%;
  border: 1.5px solid rgb(235, 233, 233);
  border-left: 0;
  border-right: 0;
}

.bottom-trigger ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding-top: 1em;
}

.bottom-trigger li {
  padding: 0 10px;
}

.comment-form {
  margin-top: 2em;
}

.comment-form button {
  margin-top: 1em;
  background-color: #8164d4;
  color: #fff;
  outline: none;
}

.comment-form button:hover {
  background-color: #8c52ff;
  color: #fff;
  transition: 600ms;
}

.comment-block {
  padding: 1em;
  border: 1.5px solid #ddd;
  border-top: 0;
  display: flex;
}

.comment-block:last-child {
  border-bottom: 0;
}

.comment-text {
  margin: 0em 0 1em 1em;
}

.comment-text p {
  margin: 1em 0;
}

.comments-post {
  margin-top: 3em;
}

.del-btn {
  color: #333;
  cursor: pointer;
}

.del-btn:hover {
  color: rgb(211, 70, 70);
}

.comment-text ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.comment-text ul li {
  padding-right: 10px;
}

.comment-text ul li:first-child {
  font-size: 0.8rem;
  font-weight: 600;
}

@media (max-width: 600px) {
  .comment-block {
    display: block;
    text-align: center;
  }

  .profile-top {
    padding: 0 1em 0 1em;
  }

  .comment-text {
    margin: 1em 0 0 0;
  }

  .media {
    margin: 1em auto;
  }

  .comment-text ul {
    justify-content: center;
  }
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(192, 192, 192);
  width: 100%;
  text-align: center;
}

.error-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.error-text p {
  font-weight: 1.25rem;
  color: rgb(190, 190, 190);
  font-weight: 600;
}

.error-text button {
  background-color: #603cc9;
  outline: none;
}

.error-text button a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
}

.error-text button:hover {
  background-color: #8c52ff;
}

.post-link {
  text-decoration: none;
}

.post_link:hover {
  text-decoration: none;
}

.PrivateTabIndicator-colorSecondary-3 {
  background: #8c52ff;
}

/* styling the profile tabs section */

.wrapper {
  width: 100%;
  margin: 2em auto;
  color: #3b3b3b;
}

.tabs ul {
  display: flex;
  background: #fbfbfb;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 25px;
}

.tabs ul li {
  width: 100%;
  padding: 15px;
  border-right: 1px solid #dddddd;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

.tabs ul li:last-child {
  border-right: 0px;
}

.tabs ul li .icons {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .tabs ul li .icons {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0.3em;
  }
}

.tabs ul li:before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #8164d4;
  transition: all 0.2s ease;
  opacity: 0;
}

.tabs ul li:hover,
.tabs ul li.active {
  color: #8c52ff;
}

.tabs ul li:hover::before,
.tabs ul li.active:before {
  opacity: 1;
}

.content {
  background: #fbfbfb;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1em;
}

.follow {
  display: flex;
  align-items: center;
  list-style: none;
}

.follow li {
  padding-right: 15px;
}

.follow li a {
  text-decoration: none;
  color: rgb(197, 197, 197);
}

.follow li a span {
  font-weight: 600;
  color: #fff;
}

@media (max-width: 600px) {
  .follow {
    justify-content: space-evenly;
  }

  .follow li {
    padding-right: 0;
  }

  .profile-top .profile-image .links {
    justify-content: space-evenly;
  }

  .profile-top .profile-image .links li {
    padding: 0;
  }

  .profile-top .profile-image .links li:first-child {
    padding: 0;
  }
}

/* styling the follwer and following page */
.follow-item ul {
  margin: 2em;
  display: flex;
  align-items: center;
}

.follow-item ul li {
  padding-right: 20px;
}

.follow-item {
  border: 1px solid #dddddd;
}

.follow-item:first-child {
  border-top: 0;
}

.follow-item:last-child {
  border-bottom: 0;
}

.back-link {
  margin-top: 1em;
}

/* styling the landing page */

.top-section {
  text-align: center;
  color: #fff;
  background-color: #8c52ff;
}

.top-logo {
  width: 100px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  margin-top: 1em;
}

.top-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  padding: 2em;
}

.top-img img {
  width: 100%;
}

.top-banner-text {
  text-align: left;
}

.top-banner-text h1 {
  font-weight: 700;
}

.top-banner-text p {
  font-size: 1.25rem;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
}

.top-banner-text ul {
  display: flex;
  align-items: center;
}

.top-banner-text li:last-child {
  padding: 0 40px;
}

.top-banner-text li:last-child button {
  padding: 0 50px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  box-shadow: none;
}

.top-banner-text li button {
  outline: none;
  background-color: #fff;
  color: #8c52ff;
  padding: 0 50px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.top-banner-text li button:hover {
  text-decoration: none;
}

.top-banner-text li button:hover {
  background-color: #fff;
}

.top-banner-text li:last-child button:hover {
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  color: #333;
  transition: 600ms;
}

.features {
  margin-top: 2em;
  text-align: center;
  height: 100%;
}

.features h2 {
  font-weight: 400;
  width: 50%;
  margin: 0 auto;
}

.feature-section {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

.feat-card {
  padding: 1em;
  text-align: center;
  border-radius: 30px;
  width: 18rem;
  margin: 0 auto;
}

.feat-card p {
  margin-top: 1em;
}

.feat-body {
  margin: 1em;
}

.feat-body > h6 {
  margin: 2em auto 1em auto;
  color: #8c52ff;
  letter-spacing: 1ch;
  text-transform: uppercase;
}

.feat-card h6 {
  font-weight: 600;
  margin-top: 1em;
}

.counter-talk h1 {
  font-weight: 800;
  color: #8c52ff;
}

.one {
  display: flex;
  align-items: center;
  justify-content: center;
}

.one span {
  margin-top: -1em;
  font-size: 33px;
  color: #8c52ff;
}

.counter {
  margin-top: 2em;
  text-align: center;
  background-color: #dddddd;
}

.counter-talk {
  margin: 0 auto;
  padding: 4em;
}

.counter-talk p {
  color: #7b7b93;
}

.footer-stuff {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3em;
}

.email {
  display: flex;
  align-items: center;
}

.email p {
  margin-top: 1em;
}

.email span {
  font-weight: 600;
}

.email img {
  width: 35px;
  margin-right: 0.5em;
}

.social-links-footer ul {
  display: flex;
  align-items: center;
}

.social-links-footer li {
  padding: 0 20px;
}

.copy {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1em;
}

/* home page for mobile*/

@media (max-width: 1000px) {
  .feature-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .top-banner {
    grid-template-columns: 1fr;
  }
  .feature-section {
    grid-template-columns: 1fr;
  }
  .footer-stuff {
    display: block;
  }
  .top-banner-text {
    text-align: center;
  }
  .top-banner-text ul {
    justify-content: center;
  }
  .top-banner-text li:last-child {
    padding: 0 15px;
  }
  .features h2 {
    font-weight: 400;
    width: 100%;
    margin: 0 auto;
  }

  .email {
    text-align: center;
  }

  .social-links-footer {
    margin-bottom: 7rem;
    margin-top: 1em;
  }
}

/* contact page styling */

.contact-section h2 {
  text-align: center;
}

.contact-section ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1em;
}

.contact-form h5 {
  text-align: center;
  margin-top: 1em;
}

.form-inputs {
  margin-top: 2em;
}

.form-inputs button {
  background-color: #8c52ff;
  color: #fff;
  outline: none;
}

.form-inputs button:hover {
  background-color: #603cc9;
  color: #fff;
}

@media (max-width: 600px) {
  .contact-section ul {
    display: block;
  }

  .contact-section ul li {
    margin-bottom: 0.5em;
  }
}
